*{
    box-sizing: border-box;
}
body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    
}

.form-container{
    background: #8abfe2;
    padding: 30px;
    border-radius: 12px;
    width: 350px;
}
h1{
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
p{
    text-align: left;
    font-weight: bold;

}

input[type="text"],
input[type="password"]{
    width:100%;
    padding:12px;
    margin-top:8px;
    border-radius:8px;
}

input[type="submit"]{
       padding:12px;
    margin-top:8px;
    border-radius:8px;
    font-size:16px;
    font-weight:bold;
}
input[type="submit"]:hover{
    background:#90a0b8a9;
    color: wheat;
}

.error{
    color: red;
    font-size: 13px;
    display: block;
    margin: 5px 0 15px ;
}

.error-border{
    border:2px solid red !important;
}

.success-border{
    border:2px solid green !important;
}

input:focus{
    outline: none;
    border-color: blue;
}